.customPageTitle .sapMTitle {
	text-align: center !important; /* Ensure the text is centered */
	font-size: 24px !important; /* Make the title larger */
	font-weight: bold !important; /* Make the title bold */
	width: 100% !important; /* Ensure the title takes up the full width */
	display: block !important; /* Make it block-level element */
	margin: 0 auto !important; /* Center it horizontally */
}

/* Column headers in light blue for dark theme */
.sapMListTblHeaderCell {
	background-color: #414c6d !important; /* deep navy blue */
	color: #1677c2 !important; /* light blue text */
	font-weight: bold;
	font-size: 0.95rem;
	padding: 1rem 0.5rem;
	border-bottom: 1px solid #3a6a89;
	text-transform: uppercase;
}

/* Hover effect on rows */
.sapMListTblRow:hover {
	background-color: #494c58 !important; /* dark blue-gray hover */
	cursor: pointer;
}

.fixedHeightTable {
	max-height: 5%; /* adjust depending on row height */
	overflow-y: auto;
}

.largerLabel {
	font-size: 1.125rem !important;
	font-weight: bold !important;
	color: white !important;
}
